<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<style>*,body{margin:0;padding:0}body,p{font-family:Arial,Helvetica,sans-serif}p,p a{font-size:13px}body{background:#e7ecf0}p{color:#373737;line-height:18px}p a{color:#218bdc;text-decoration:none}a{outline:0}.f-left{float:left}.f-right{float:right}.clear{clear:both;overflow:hidden}#block_error{width:845px;height:384px;border:1px solid #ccc;margin:72px auto 0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background:url(http://www.ebpaidrev.com/systemerror/block.gif) 0 51px no-repeat #fff}#block_error div{padding:100px 40px 0 186px}#block_error div h2{color:#218bdc;font-size:24px;display:block;padding:0 0 14px;border-bottom:1px solid #ccc;margin-bottom:12px;font-weight:400}</style>
<body marginwidth="0" marginheight="0">
<div id="block_error">
    <div>
        <h2>Erro 404. &nbspOops.. ocorreu um erro!</h2>
        <p>
            Aparentemente a página acessada não existe mais..<br />
            Por favor repita a ação novamente.
        </p>
        <p>
            Caso o erro persista, por favor contate o administrador para resolução do problema.
        </p>
        <p>Obrigado!</p>
    </div>
</div>
</body>